---
layout: default
title: Timeline
---

<div class="home">

  <h1 class="page-heading">Timeline</h1>

  <ul class="timeline">

    {% for post in site.posts %}

      <!-- ids are forbidden here as this content may be included at several locations on the same page -->
      <!-- this line is 1 article element and its class is used to identify it -->
      <li class="article-{{ post.type }}">
        <div class="badge">
          <i class="glyphicon glyphicon-{{ post.badge }}"></i>
        </div>
        <div class="article-background"></div>
        <div class="article-panel">
          <div class="article-heading">
            <h4 class="article-title">
              <span class="flag-icon flag-icon-{{ post.countrycode }}"></span>Lipsum City
            </h4>
            <!-- second title, to have the original name for instance -->
            <h4 class="article-title">{{ post.subtitle }}</h4>
            <p>
              <!-- title complementary info -->
              <small><i class="glyphicon glyphicon-time"></i>{{ post.date | date: "%b %-d, %Y" }}</small>
            </p>
          </div>
          <!-- summary of the article -->
          <div class="article-abstract">
            <p>{{ post.abstract }}</p>
          </div>
          <!-- content of the article -->
          <div class="article-body">
            {{ post.content }}
          </div>
          <!-- to show the user where the location is -->
          {% if post.address %}
          <div class="article-map">
            <!-- pay attention to use something valid for the address -->
            <button
              type="button"
              class="btn btn-info btn-xs googlemapbutton"
              data-toggle="modal"
              data-target="#map_modal"
              address="{{ post.address }}">
              <span class="glyphicon glyphicon-map-marker"></span>
            </button>
          </div>
          {% endif %}
          <div class="article-more"></div>
        </div> <!-- background image set in css/background.css -->
      </li>
      


    {% endfor %}

  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
