---
layout: article
title: Articles
---

<div class="timeline_div">

  <h1 class="page-heading">{{ title }}</h1>

  <div class="container">
    <div class="row">
    {% for post in site.posts %}

      <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 bit">
        {{ post.content }}
      </div>

      {% capture mod2 %}{{ loop.index | modulo: 2 }}{% endcapture %}
      {% capture mod3 %}{{ loop.index | modulo: 3 }}{% endcapture %}
      {% capture mod4 %}{{ loop.index | modulo: 4 }}{% endcapture %}
      {% capture mod6 %}{{ loop.index | modulo: 6 }}{% endcapture %}

      {% if mod2 == 0 %}
        <div class="clearfix visible-xs-block"></div>
      {% endif %}
      {% if mod3 == 0 %}
        <div class="clearfix visible-sm-block"></div>
      {% endif %}
      {% if mod4 == 0 %}
        <div class="clearfix visible-md-block"></div>
      {% endif %}
      {% if mod6 == 0 %}
        <div class="clearfix visible-lg-block"></div>
      {% endif %}

    {% endfor %}

    </div>
  </div>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
