body {
  color: gray;
  height: 100%;
  margin: 0;
  padding: 0;
}

#content_div {
  border: 1px solid blue;
  position: absolute;
  top: 10%;
  width: 66%;
  right: 0;
  width: 66%
}

#timeline_div {
  
}

#roadmap_div {
  height: 400px;
  width: 100%;
}

#map_div {
  height: 400px;
  width: 100%;
}

.tabs {
  display: block;
  padding: 10px;
  background: #4a4a4a;
  margin-bottom: 2px;
  color: #fff;
}

.tabs:hover {
  color: #aaa;
  font-weight: bold;
}

h4>span {
  margin-right: 0.5em;
}

i {
  margin-left: 0.5em;
  margin-right: 0.5em;
}